{% extends "base/base.html" %}

{% block title %}login{% endblock %}

{% block content %}
<style>
    .sbt :hover {
        background-color: deeppink;
        color: black;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <center>
                    <label style="font-size: 20PX; font-family:cambria; margin-top: 40px;">login</label>
                </center>

                <center>
                    <label style="font-size: 20PX; font-family:cambria; margin-top: 20px;">{{result}}</label>
                </center>

                <div style="margin-top: 30px; font-size: 20px; color: deeppink;">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{username}}" class="form-control" placeholder="username">
                </div>

                <div style="margin-top:30px; color: deeppink; font-size: 20px;">
                    <label for="password">Password</label>
                    <input type="password" name="password" value="{{password}}" class="form-control"
                        placeholder="password">
                </div><br>
                <div class="sbt">
                    <input type="submit" value="login" class="btn btn-success form-control">
                </div>

            </form>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock %}