{% extends "base/base.html" %}
{% block title %} registration {% endblock%}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8" style="margin-top: 70px; text-shadow:  2px 5px 20px  rgb(221, 156, 156); text-align: center;">
               
                    <h1>Registration form</h1>
                
            </div>

            <div class="col-md-2"></div>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <!-- {{user_name}} -->
    
                            <!-- <div class="form-group"> -->
                                <label for="username" style=" font-size: 15px; font-family:monospace;">UserName:</label>
                                <input type="text" class="form-control"
                                    style="margin-top:10px;box-shadow:10px 10px 10px rgb(183, 182, 240) ;" name="username"
                                    value="{{username}}" placeholder="User Name" required>
                            <!-- </div> -->
                            <div class="form-group">
                                <label for="name" style="color: pink;"> Name:</label>
                                <input type="text" class="form-control"
                                    style="margin-top:10px;box-shadow:10px 10px 10px rgb(15, 15, 15);" Name="name"
                                    value="{{name}}" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="password" style="color: pink;">password:</label>
                                <input type="password" class="form-control"
                                    style="margin-top:10px;box-shadow:10px 10px 10px rgb(216, 205, 243);" name="password"
                                    value="{{pw}}" placeholder="password" required>
                            </div>
                            <div class="form-group">
                                <label for="Confirmpassword" style="color: pink;">confirmpassword:</label>
                                <input type="password" class="form-control" value="{{cpw}}"
                                    style="margin-top:10px;box-shadow:10px 10px 10px rgb(173, 3, 3);" name="cnfirmpsswrd"
                                    placeholder="Confirm password" >
                            </div>
                            <input type="submit" class="btn btn-primary"
                                style="margin-top:10px;box-shadow:10px 10px 10px rgb(15, 15, 15);" value="Submit">
                            </div>
                            
                    </form>
                </div>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <center>
    
                        <h2>{{rslt}}</h2>
                    </center>
                </div>
                <div class="col-md-2"></div>
    
            </div>
        </div>
    </div> 
  {% endblock %}  